---
layout: base

common_css:
  - "/assets/tailwind.build.css"
  #- "/assets/tailwind.old.css"


#- "https://cdn.jsdelivr.net/npm/daisyui@3.0.0/dist/full.css"
#common_js:
#  - "https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"

#bodyclass: "dark:bg-gray-600"
---
//-
  .wrapper(
  class="flex flex-col bg-white text-slate-800 break-words"
  xclass="h-screen")

  include /tailwind/prechrome.pug

  .flex.flex-col.min-h-screen.border-2.border-blue-300(
    class="md:flex-row mt-24 px-8")

    article.prose.xborder-2.border-rose-600(
      class="flex-grow mr-7"
      xclass="flex-grow mx-auto mx-7 mt-32 max-w-5xl ")
      | !{ content }

    include /tailwind/sidechrome.pug

  include /tailwind/postchrome.pug
  class="isMobileMenuOpen ? 'max-h-screen overflow-hidden relative'

#main
  include /tailwind/prechrome.pug
  .container.mx-auto.border.border-red-300.px-2
    | !{ content }
  include /tailwind/postchrome.pug
