<!DOCTYPE html>
<html>
<head>
<meta charSet="utf-8"/>
<meta name="viewport" content="width=device-width"/>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
<meta content="ie=edge" http-equiv="x-ua-compatible"/>

<title>{{ pagetitle }} | Linktree</title>

<meta name="description" content="Linktree. Make your link do more."/>

<meta property="og:title" content="{{ pagetitle }}"/>
<meta property="og:description" content="Linktree. Make your link do more."/>
<meta property="og:url" content="https://linktr.ee/selenagomez"/>
<meta property="og:image" content="https://d1fdloi71mui9q.cloudfront.net/tVx7C3BERISOZ1SPHvGj_1c5293ee1ee8cf9d9327be214431d95c0"/>
<meta property="og:image:secure_url" content="https://d1fdloi71mui9q.cloudfront.net/tVx7C3BERISOZ1SPHvGj_1c5293ee1ee8cf9d9327be214431d95c0"/>
<meta property="og:image:height" content="90"/>
<meta property="og:image:type" content="image/jpg"/>
<meta property="og:image:width" content="90"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:site_name" content="Linktree"/>
<meta property="og:type" content="profile"/>

<meta property="profile:username" content="selenagomez"/>

<meta name="twitter:title" content="@selenagomez"/>
<meta name="twitter:description" content="Linktree. Make your link do more."/>
<meta name="twitter:image" content="https://d1fdloi71mui9q.cloudfront.net/tVx7C3BERISOZ1SPHvGj_1c5293ee1ee8cf9d9327be214431d95c0"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:domain" content="Linktree"/>

<link rel="canonical" href="https://linktr.ee/selenagomez"/>

<meta content="2419200"/>
<meta name="theme-color" content="#ffffff"/>
<meta content="d9fd170e8cf31c89537e" name="wot-verification"/>
<meta content="211011856296014" property="fb:app_id"/>

<link rel="shortcut icon" href="static/favicon.ico"/>
<link rel="icon" type="image/png" href="static/favicon.png"/>
<link rel="icon" type="image/png" href="static/favicon-96x96.png" sizes="96x96"/>
<link rel="icon" type="image/png" href="static/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16"/>
<link rel="apple-touch-icon" sizes="180x180" href="static/apple-icon-180x180.png"/>
<link rel="apple-touch-icon" sizes="152x152" href="static/apple-icon-152x152.png"/>
<link rel="apple-touch-icon" sizes="144x144" href="static/apple-icon-144x144.png"/>
<link rel="apple-touch-icon" sizes="120x120" href="static/apple-icon-120x120.png"/>
<link rel="apple-touch-icon" sizes="114x114" href="static/apple-icon-114x114.png"/>
<link rel="apple-touch-icon" sizes="72x72" href="static/apple-icon-72x72.png"/>
<link rel="apple-touch-icon" sizes="76x76" href="static/apple-icon-76x76.png"/>
<link rel="apple-touch-icon" sizes="60x60" href="static/apple-icon-60x60.png"/>
<link rel="apple-touch-icon" sizes="57x57" href="static/apple-icon-57x57.png"/>
<meta name="msapplication-square310x310logo" content="static/ms-icon-310x310.png"/>
<meta name="msapplication-square150x150logo" content="static/ms-icon-150x150.png"/>
<meta name="msapplication-square70x70logo" content="static/ms-icon-70x70.png"/>
<meta name="msapplication-TileImage" content="static/ms-icon-144x144.png"/>
<meta name="msapplication-TileColor" content="#FFFFFF"/>
<meta name="theme-color" content="#ffffff"/>
<meta name="next-head-count" content="9"/>


<link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600;700&amp;display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600;700&amp;display=swap" rel="stylesheet"/>

<style data-styled="" data-styled-version="5.1.1">
.kGdFkE{margin:0 auto;height:100%;width:100%;max-width:680px;}/*!sc*/
.cPGaFj{margin-bottom:16px;}/*!sc*/
.YoShk{margin-left:12px;margin-right:12px;max-width:100%;}/*!sc*/
.gWqiPx{position:relative;}/*!sc*/
.iozCgz{min-height:auto;}/*!sc*/
.kkhdyq{overflow:hidden;position:absolute;top:0;left:0;right:0;bottom:0;}/*!sc*/
.dIjTYI{height:auto;background-color:#000;}/*!sc*/
.kHBcAL{position:relative;height:auto;overflow:hidden;}/*!sc*/
.kiUGOd{padding-top:16px;padding-bottom:16px;}/*!sc*/
data-styled.g1[id="sc-AxjAm"]{content:"kGdFkE,cPGaFj,YoShk,gWqiPx,iozCgz,kkhdyq,dIjTYI,kHBcAL,jETaPt,kiUGOd,"}/*!sc*/
.eaXczx{-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;position:relative;padding-bottom:0;min-height:100vh;overflow-x:hidden;width:100%;height:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}/*!sc*/
.ihDibT{-webkit-flex:1;-ms-flex:1;flex:1;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;padding-left:12px;padding-right:12px;padding-top:24px;padding-bottom:24px;height:100%;width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}/*!sc*/
.iHQJmB{-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;margin-top:12px;margin-bottom:32px;width:100%;height:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}/*!sc*/
.dlWerA{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;height:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}/*!sc*/
data-styled.g2[id="sc-AxirZ"]{content:"eaXczx,ihDibT,iHQJmB,dlWerA,"}/*!sc*/
.giAVBM{margin:0;color:#FFFFFF;font-size:16px;line-height:1.5;text-overflow:ellipsis;max-width:100%;white-space:nowrap;overflow:hidden;}/*!sc*/
data-styled.g3[id="sc-AxiKw"]{content:"giAVBM,"}/*!sc*/
.coiZqD{padding:0;line-height:1.5;width:100%;}/*!sc*/
data-styled.g4[id="sc-AxhCb"]{content:"coiZqD,"}/*!sc*/
.iDwFMp{padding-bottom:12px;padding-left:8px;padding-right:8px;color:inherit;}/*!sc*/
data-styled.g5[id="sc-AxhUy"]{content:"iDwFMp,"}/*!sc*/
.kMNSre{fill:currentColor;width:lg;height:lg;fill:#FFFFFF;width:32px;height:32px;}/*!sc*/
data-styled.g7[id="sc-AxheI"]{content:"kMNSre,"}/*!sc*/
.iaMKrR{width:96px;height:96px;border-radius:50%;width:96px;height:96px;display:block;object-fit:contain;object-position:initial;-webkit-filter:none;filter:none;}/*!sc*/
.fPcpIJ{width:auto;height:46px;display:block;object-fit:contain;object-position:initial;-webkit-filter:none;filter:none;}/*!sc*/
data-styled.g8[id="sc-Axmtr"]{content:"iaMKrR,fPcpIJ,"}/*!sc*/
.eQQDmH{-webkit-transition:-webkit-transform cubic-bezier(0.23,1,0.32,1);-webkit-transition:transform cubic-bezier(0.23,1,0.32,1);transition:transform cubic-bezier(0.23,1,0.32,1);}/*!sc*/
.eQQDmH:hover{-webkit-transform:scale(1.075);-ms-transform:scale(1.075);transform:scale(1.075);}/*!sc*/
.eQQDmH svg{pointer-events:none;}/*!sc*/
data-styled.g82[id="sc-fzpdbB"]{content:"eQQDmH,"}/*!sc*/
.czXfWn{position:relative;height:auto;border-type:rounded;style-type:fill;-webkit-transition:box-shadow .25s cubic-bezier(0.08,0.59,0.29,0.99),color .25s cubic-bezier(0.08,0.59,0.29,0.99), border-color .25s cubic-bezier(0.08,0.59,0.29,0.99),-webkit-transform .25s cubic-bezier(0.08,0.59,0.29,0.99), background-color .25s cubic-bezier(0.08,0.59,0.29,0.99);-webkit-transition:box-shadow .25s cubic-bezier(0.08,0.59,0.29,0.99),color .25s cubic-bezier(0.08,0.59,0.29,0.99), border-color .25s cubic-bezier(0.08,0.59,0.29,0.99),transform .25s cubic-bezier(0.08,0.59,0.29,0.99), background-color .25s cubic-bezier(0.08,0.59,0.29,0.99);transition:box-shadow .25s cubic-bezier(0.08,0.59,0.29,0.99),color .25s cubic-bezier(0.08,0.59,0.29,0.99), border-color .25s cubic-bezier(0.08,0.59,0.29,0.99),transform .25s cubic-bezier(0.08,0.59,0.29,0.99), background-color .25s cubic-bezier(0.08,0.59,0.29,0.99);overflow:hidden;margin-bottom:16px;border:2px solid;border-color:#FFFFFF;background-color:#FFFFFF;color:#000000;border-radius:8px;}/*!sc*/
@-webkit-keyframes topwave{from{-webkit-mask-position:0 top;mask-position:0 top;}to{-webkit-mask-position:680px top;mask-position:680px top;}}/*!sc*/
@keyframes topwave{from{-webkit-mask-position:0 top;mask-position:0 top;}to{-webkit-mask-position:680px top;mask-position:680px top;}}/*!sc*/
@-webkit-keyframes bottomwave{from{-webkit-mask-position:0 top;mask-position:0 top;}to{-webkit-mask-position:-680px top;mask-position:-680px top;}}/*!sc*/
@keyframes bottomwave{from{-webkit-mask-position:0 top;mask-position:0 top;}to{-webkit-mask-position:-680px top;mask-position:-680px top;}}/*!sc*/
.czXfWn:hover{background-color:transparent;color:#FFFFFF;border-color:#FFFFFF;}/*!sc*/
data-styled.g89[id="sc-fzqKVi"]{content:"czXfWn,"}/*!sc*/
.hvDDKi{left:4px;width:46px;height:46px;border-radius:0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);pointer-events:none;overflow:hidden;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-radius:4px;}/*!sc*/
data-styled.g93[id="sc-fzppip"]{content:"hvDDKi,"}/*!sc*/
.cuybhh{border:none;display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;height:auto;position:relative;padding-top:16px;padding-bottom:16px;padding-left:66px;padding-right:66px;margin:0;font-family:inherit;font-weight:inherit;font-size:inherit;width:100%;cursor:pointer;-webkit-appearance:none;-moz-appearance:none;appearance:none;text-align:center;box-sizing:border-box;-webkit-text-decoration:none;text-decoration:none;overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto;white-space:normal;background:none;color:inherit;-webkit-transition:box-shadow .25s cubic-bezier(0.08,0.59,0.29,0.99),border-color .25s cubic-bezier(0.08,0.59,0.29,0.99), -webkit-transform .25s cubic-bezier(0.08,0.59,0.29,0.99),background-color .25s cubic-bezier(0.08,0.59,0.29,0.99);-webkit-transition:box-shadow .25s cubic-bezier(0.08,0.59,0.29,0.99),border-color .25s cubic-bezier(0.08,0.59,0.29,0.99), transform .25s cubic-bezier(0.08,0.59,0.29,0.99),background-color .25s cubic-bezier(0.08,0.59,0.29,0.99);transition:box-shadow .25s cubic-bezier(0.08,0.59,0.29,0.99),border-color .25s cubic-bezier(0.08,0.59,0.29,0.99), transform .25s cubic-bezier(0.08,0.59,0.29,0.99),background-color .25s cubic-bezier(0.08,0.59,0.29,0.99);}/*!sc*/
.cuybhh:focus{outline:none;}/*!sc*/
.cuybhh:disabled{cursor:default;pointer-events:none;}/*!sc*/
.exdyNo{border:none;display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;height:auto;position:relative;padding-top:16px;padding-bottom:16px;padding-left:66px;padding-right:66px;margin:0;font-family:inherit;font-weight:inherit;font-size:inherit;width:100%;cursor:pointer;-webkit-appearance:none;-moz-appearance:none;appearance:none;text-align:center;box-sizing:border-box;overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto;white-space:normal;background:none;color:inherit;-webkit-transition:box-shadow .25s cubic-bezier(0.08,0.59,0.29,0.99),border-color .25s cubic-bezier(0.08,0.59,0.29,0.99), -webkit-transform .25s cubic-bezier(0.08,0.59,0.29,0.99),background-color .25s cubic-bezier(0.08,0.59,0.29,0.99);-webkit-transition:box-shadow .25s cubic-bezier(0.08,0.59,0.29,0.99),border-color .25s cubic-bezier(0.08,0.59,0.29,0.99), transform .25s cubic-bezier(0.08,0.59,0.29,0.99),background-color .25s cubic-bezier(0.08,0.59,0.29,0.99);transition:box-shadow .25s cubic-bezier(0.08,0.59,0.29,0.99),border-color .25s cubic-bezier(0.08,0.59,0.29,0.99), transform .25s cubic-bezier(0.08,0.59,0.29,0.99),background-color .25s cubic-bezier(0.08,0.59,0.29,0.99);}/*!sc*/
.exdyNo:focus{outline:none;}/*!sc*/
.exdyNo:disabled{cursor:default;pointer-events:none;}/*!sc*/
data-styled.g94[id="sc-fznBMq"]{content:"cuybhh,exdyNo,"}/*!sc*/
.dwAKfv{position:fixed;top:0;left:0;right:0;bottom:0;z-index:-1;background-position:center;background-size:cover;background-repeat:no-repeat;background-color:#000000;background-style:flat;background-image:url(https://d1fdloi71mui9q.cloudfront.net/aTgNI8HXTCDmd8FIoHda_4dedc4ce5a7c6bc8c3745a0d976e86d5);background-image:url(https://d1fdloi71mui9q.cloudfront.net/aTgNI8HXTCDmd8FIoHda_4dedc4ce5a7c6bc8c3745a0d976e86d5);}/*!sc*/
data-styled.g102[id="sc-pRFjI"]{content:"dwAKfv,"}/*!sc*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,main,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}/*!sc*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block;}/*!sc*/
*[hidden]{display:none;}/*!sc*/
body{line-height:1;}/*!sc*/
ol,ul{list-style:none;}/*!sc*/
blockquote,q{quotes:none;}/*!sc*/
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}/*!sc*/
table{border-collapse:collapse;border-spacing:0;}/*!sc*/
html{box-sizing:border-box;}/*!sc*/
*,*:before,*:after{box-sizing:inherit;}/*!sc*/
html,body{font-family:Karla;font-size:16px;font-weight:700;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}/*!sc*/
html > *,body > *{-webkit-letter-spacing:normal;-moz-letter-spacing:normal;-ms-letter-spacing:normal;letter-spacing:normal;}/*!sc*/
data-styled.g104[id="sc-global-fYGmGZ1"]{content:"sc-global-fYGmGZ1,"}/*!sc*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,main,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}/*!sc*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block;}/*!sc*/
*[hidden]{display:none;}/*!sc*/
body{line-height:1;}/*!sc*/
ol,ul{list-style:none;}/*!sc*/
blockquote,q{quotes:none;}/*!sc*/
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}/*!sc*/
table{border-collapse:collapse;border-spacing:0;}/*!sc*/
html{box-sizing:border-box;}/*!sc*/
*,*:before,*:after{box-sizing:inherit;}/*!sc*/
html,body{font-family:Karla;font-size:16px;font-weight:700;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}/*!sc*/
html > *,body > *{-webkit-letter-spacing:normal;-moz-letter-spacing:normal;-ms-letter-spacing:normal;letter-spacing:normal;}/*!sc*/
data-styled.g105[id="sc-global-fYGmGZ2"]{content:"sc-global-fYGmGZ2,"}/*!sc*/
</style>
</head>



.sc-AxjAm.sc-AxirZ.eaXczx
  .sc-AxjAm.sc-AxirZ.ihDibT
    .sc-AxjAm.kGdFkE

      //-HEAD IMAGE
      .sc-AxjAm.cPGaFj
        .sc-AxjAm.sc-AxirZ.iHQJmB
          .sc-AxjAm.cPGaFj
            img.sc-Axmtr.iaMKrR(
              src='{{profilePictureUrl}}'
              alt='Profile Image'
              data-testid='ProfileImage' filter='none' display='block')
          .sc-AxjAm.YoShk
            h1.sc-AxiKw.giAVBM {{pageTitle}}

      //-WIDE LINK BUTTONS
      each t in links
        .sc-AxjAm.gWqiPx
          .sc-AxjAm.sc-fzqKVi.czXfWn(data-testid='StyledContainer')

            case  t.type
              when 'YOUTUBE_VIDEO'
                //-========================================
                .sc-AxjAm.iozCgz
                  .sc-AxjAm.kkhdyq
                    .sc-AxjAm.dIjTYI
                  .sc-AxjAm.kHBcAL
                    .sc-AxjAm.jETaPt(data-testid='LinkEmbedButton')
                      button.sc-fzozJi.sc-fznBMq.exdyNo(
                        data-click='{{t.url}}'
                        data-testid='LinkButton' display='inline-flex'
                        font-family='inherit' font-weight='inherit'
                        font-size='inherit' height='auto')
                        .sc-AxjAm.sc-AxirZ.sc-fzppip.hvDDKi(
                          src='{{t.modifiers.thumbnailUrl}}'
                          data-testid='LinkThumbnail')
                          img.sc-Axmtr.fPcpIJ(
                            data-testid='LinkThumbnailImage'
                            width='auto' height='46px'
                            src='{{t.modifiers.thumbnailUrl}}'
                            alt='{{t.title}}'
                            filter='none' display='block')
                        p.sc-AxhCb.coiZqD {{t.title}}

              default
                //-========================================
                a.sc-fzozJi.sc-fznBMq.cuybhh(target='_blank'
                  href='{{t.url}}'
                  rel='noopener noreferrer'
                  data-testid='LinkButton'
                  display='inline-flex' font-family='inherit'
                  font-weight='inherit' font-size='inherit'
                  height='auto')
                  .sc-AxjAm.sc-AxirZ.sc-fzppip.hvDDKi(
                    data-testid='LinkThumbnail')
                    img.sc-Axmtr.fPcpIJ(
                      src='{{t.modifiers.thumbnailUrl}}'
                      alt='{{t.title}}'
                      data-testid='LinkThumbnailImage'
                      width='auto' height='46px'
                      filter='none' display='block')
                  p.sc-AxhCb.coiZqD {{t.title}}

      //-FOOTER SOCIAL LINKS
      .sc-AxjAm.kiUGOd
        .sc-AxjAm.sc-AxirZ.dlWerA
          each t in sociallinks
            a.sc-AxhUy.iDwFMp.sc-fzpdbB.eQQDmH(target='_blank'
              href='{{t.url}}'
              rel='noopener noreferrer'
              data-testid='SocialIcon'
              aria-label='{{t.type}}'')
                span
                  i.icon {{t.type}}


<script crossorigin="anonymous" nomodule="" src="/_next/static/runtime/polyfills-91fe1705ebc5b1cebb77.js"></script>
<script async="" data-next-page="/_app" src="/_next/static/AgYe6mSts23jtfkrdFl99/pages/_app.js" crossorigin="anonymous"></script>
<script async="" data-next-page="/[profile]" src="/_next/static/AgYe6mSts23jtfkrdFl99/pages/%5Bprofile%5D.js" crossorigin="anonymous"></script>

<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin=""/>
<link rel="dns-prefetch" href="https://www.googletagmanager.com" crossorigin=""/>
<script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js" nonce="3e886c473e92eda601a5200c599334a5"></script>

<link rel="preload" href="/_next/static/css/f3a09a5c03faa58a04d52cf77a23aa27fd64f636_CSS.af1f508a.chunk.css" as="style" crossorigin="anonymous"/>
<link rel="stylesheet" href="/_next/static/css/f3a09a5c03faa58a04d52cf77a23aa27fd64f636_CSS.af1f508a.chunk.css" crossorigin="anonymous"/>

<link rel="preload" href="/_next/static/runtime/webpack-6ef28db84b4c42ad34e9.js" as="script" crossorigin="anonymous"/>
<link rel="preload" href="/_next/static/chunks/framework.8293b41d86da2f0201a3.js" as="script" crossorigin="anonymous"/>
<link rel="preload" href="/_next/static/chunks/commons.c8e5393b864194b9413e.js" as="script" crossorigin="anonymous"/>
<link rel="preload" href="/_next/static/chunks/4405b132ce96713f7a81b4517e9e41105773b383.7425f933ad4589d96e88.js" as="script" crossorigin="anonymous"/>
<link rel="preload" href="/_next/static/chunks/c687dfc94757f9c739d00e32c10b174455337f54.6d815db3086d9933c66c.js" as="script" crossorigin="anonymous"/>
<link rel="preload" href="/_next/static/runtime/main-c2c69c55796a17c6796c.js" as="script" crossorigin="anonymous"/>
<link rel="preload" href="/_next/static/chunks/4674618e.4ad7d42d9ea6c7f2fc02.js" as="script" crossorigin="anonymous"/>
<link rel="preload" href="/_next/static/chunks/37aee9ee.023bc762744cd0548817.js" as="script" crossorigin="anonymous"/>
<link rel="preload" href="/_next/static/chunks/f3a09a5c03faa58a04d52cf77a23aa27fd64f636.eab4562056f814af88f6.js" as="script" crossorigin="anonymous"/>
<link rel="preload" href="/_next/static/chunks/f3a09a5c03faa58a04d52cf77a23aa27fd64f636_CSS.244c3afbbfc751a1196f.js" as="script" crossorigin="anonymous"/>
<link rel="preload" href="/_next/static/AgYe6mSts23jtfkrdFl99/pages/_app.js" as="script" crossorigin="anonymous"/>
<link rel="preload" href="/_next/static/AgYe6mSts23jtfkrdFl99/pages/%5Bprofile%5D.js" as="script" crossorigin="anonymous"/>

<script src="/_next/static/runtime/webpack-6ef28db84b4c42ad34e9.js" async="" crossorigin="anonymous"></script>
<script src="/_next/static/chunks/framework.8293b41d86da2f0201a3.js" async="" crossorigin="anonymous"></script>
<script src="/_next/static/chunks/commons.c8e5393b864194b9413e.js" async="" crossorigin="anonymous"></script>
<script src="/_next/static/chunks/4405b132ce96713f7a81b4517e9e41105773b383.7425f933ad4589d96e88.js" async="" crossorigin="anonymous"></script>
<script src="/_next/static/chunks/c687dfc94757f9c739d00e32c10b174455337f54.6d815db3086d9933c66c.js" async="" crossorigin="anonymous"></script>
<script src="/_next/static/runtime/main-c2c69c55796a17c6796c.js" async="" crossorigin="anonymous"></script>
<script src="/_next/static/chunks/4674618e.4ad7d42d9ea6c7f2fc02.js" async="" crossorigin="anonymous"></script>
<script src="/_next/static/chunks/37aee9ee.023bc762744cd0548817.js" async="" crossorigin="anonymous"></script>
<script src="/_next/static/chunks/f3a09a5c03faa58a04d52cf77a23aa27fd64f636.eab4562056f814af88f6.js" async="" crossorigin="anonymous"></script>
<script src="/_next/static/chunks/f3a09a5c03faa58a04d52cf77a23aa27fd64f636_CSS.244c3afbbfc751a1196f.js" async="" crossorigin="anonymous"></script>
<script src="/_next/static/AgYe6mSts23jtfkrdFl99/_buildManifest.js" async="" crossorigin="anonymous"></script>
<script src="/_next/static/AgYe6mSts23jtfkrdFl99/_ssgManifest.js" async="" crossorigin="anonymous"></script>


<script id="__NEXT_DATA__"
type="application/json" crossorigin="anonymous">
{
  "props": {
    "pageProps": {
      "account": {
        "id": 4274511,
        "username": "selenagomez",
        "isActive": true,
        "profilePictureUrl": "https://d1fdloi71mui9q.cloudfront.net/tVx7C3BERISOZ1SPHvGj_1c5293ee1ee8cf9d9327be214431d95c0",
        "pageTitle": "@selenagomez",
        "googleAnalyticsId": null,
        "facebookPixelId": null,
        "donationsActive": false,
        "contentWarning": null,
        "description": null,
        "isLogoVisible": false,
        "owner": {
          "id": 4946519,
          "isEmailVerified": true
        },
        "pageMeta": null,
        "integrations": [],
        "links": [
          {
            "id": 49461922,
            "type": "CLASSIC",
            "title": "Selena x Votes",
            "url": "https://smarturl.it/SelenaxVotes",
            "modifiers": {
              "animation": null,
              "isForwarding": false,
              "isForwardingActive": false,
              "thumbnailUrl": "https://d1fdloi71mui9q.cloudfront.net/lfd5mvUmT7Soq0A6THBg_1t47kFqp6r9tE8KU",
              "amazonAffiliate": null
            },
            "linkContext": null
          },
          {
            "id": 20230445,
            "type": "CLASSIC",
            "title": "Rare Beauty",
            "url": "https://www.rarebeauty.com/",
            "modifiers": {
              "animation": null,
              "isForwarding": false,
              "isForwardingActive": false,
              "thumbnailUrl": "https://d1fdloi71mui9q.cloudfront.net/zJGjO0QSGnAjLqkwndlA_6da71ce36f2dba9365e8f23f972617bb",
              "amazonAffiliate": null
            },
            "linkContext": null
          },
          {
            "id": 45925045,
            "type": "CLASSIC",
            "title": "Listen to 'Lose You To Love Me' (Demo Version)",
            "url": "https://smarturl.it/LoseYouToLoveMeDemo",
            "modifiers": {
              "animation": null,
              "isForwarding": false,
              "isForwardingActive": false,
              "thumbnailUrl": "https://d1fdloi71mui9q.cloudfront.net/6jfKO1WxSkmznf4Xm426_kL4KZyX29WUSHpPA",
              "amazonAffiliate": null
            },
            "linkContext": null
          },
          {
            "id": 39509398,
            "type": "CLASSIC",
            "title": "Listen to 'Ice Cream' 🍦 SELPINK",
            "url": "https://smarturl.it/IceCreamSingle",
            "modifiers": {
              "animation": null,
              "isForwarding": false,
              "isForwardingActive": false,
              "thumbnailUrl": "https://d1fdloi71mui9q.cloudfront.net/tI4nSUCSfW6yNiezGcTc_rRJ3rYRCYR1Wx57z",
              "amazonAffiliate": null
            },
            "linkContext": null
          },
          {
            "id": 41510699,
            "type": "YOUTUBE_VIDEO",
            "title": "Watch the 'Ice Cream' Official Video",
            "url": "https://youtu.be/vRXZj0DzXIA",
            "modifiers": {
              "animation": null,
              "isForwarding": false,
              "isForwardingActive": false,
              "thumbnailUrl": "https://d1fdloi71mui9q.cloudfront.net/CLQA637S7ON9vBiaZtLF_GudLst9YouUOMO5P",
              "amazonAffiliate": null
            },
            "linkContext": {
              "embedOption": "EMBED_VIDEO",
              "subscribe": true,
              "autoplay": true,
              "mute": false
            }
          },
          {
            "id": 41020736,
            "type": "CLASSIC",
            "title": "Serendipity Ice Cream",
            "url": "https://serendipitybrands.com/",
            "modifiers": {
              "animation": null,
              "isForwarding": false,
              "isForwardingActive": false,
              "thumbnailUrl": "https://d1fdloi71mui9q.cloudfront.net/eATXHQPSYGoAxd4GTLAf_AvVyOtQhL0kDoL9K",
              "amazonAffiliate": null
            },
            "linkContext": null
          },
          {
            "id": 37110319,
            "type": "CLASSIC",
            "title": "Rare Impact Fund",
            "url": "https://www.forbes.com/sites/jessicagold/2020/07/22/selena-gomezs-rare-beauty-pledges-to-raise-100m-for-mental-health/#15aeff2048f7",
            "modifiers": {
              "animation": null,
              "isForwarding": false,
              "isForwardingActive": false,
              "thumbnailUrl": "https://d1fdloi71mui9q.cloudfront.net/v9tKDvLzRlSCiXSEpR1Z_404a58d6ef17c7411f53e58b13559f726",
              "amazonAffiliate": null
            },
            "linkContext": null
          },
          {
            "id": 19332735,
            "type": "CLASSIC",
            "title": "Shop My Official Store",
            "url": "http://smarturl.it/SelenaStore",
            "modifiers": {
              "animation": null,
              "isForwarding": false,
              "isForwardingActive": false,
              "thumbnailUrl": "https://d1fdloi71mui9q.cloudfront.net/bI6tWpncQ1eZ2gd2fpfv_1f9f4cf3c5da3b14b2b6d7b921441a4c",
              "amazonAffiliate": null
            },
            "linkContext": null
          },
          {
            "id": 23802684,
            "type": "CLASSIC",
            "title": "Listen to RARE (Deluxe) feat. ‘Boyfriend’",
            "url": "https://smarturl.it/RareDeluxe",
            "modifiers": {
              "animation": null,
              "isForwarding": false,
              "isForwardingActive": false,
              "thumbnailUrl": "https://d1fdloi71mui9q.cloudfront.net/BrIodlWVQgiPkskixUGP_964e71fb80ac3e5bff83cfac79891cd52",
              "amazonAffiliate": null
            },
            "linkContext": null
          },
          {
            "id": 33195844,
            "type": "CLASSIC",
            "title": "Donate to the Black Equality Fund",
            "url": "https://donorbox.org/black-equity-fund",
            "modifiers": {
              "animation": null,
              "isForwarding": false,
              "isForwardingActive": false,
              "thumbnailUrl": "https://d1fdloi71mui9q.cloudfront.net/bzP2WQFwSVepmpVFrHyM_dfc123f2c368d19fbdebcf92f9c73d58",
              "amazonAffiliate": null
            },
            "linkContext": null
          },
          {
            "id": 23802673,
            "type": "CLASSIC",
            "title": "Donate to the PLUS1 COVID-19 Relief Fund",
            "url": "https://smarturl.it/SelenaPLUS1",
            "modifiers": {
              "animation": null,
              "isForwarding": false,
              "isForwardingActive": false,
              "thumbnailUrl": "https://d1fdloi71mui9q.cloudfront.net/HSiVG0GISy6KYRN8VUnj_3dc928efec960c06e485adf2d68272057",
              "amazonAffiliate": null
            },
            "linkContext": null
          },
          {
            "id": 19380439,
            "type": "CLASSIC",
            "title": "Shop SG x PUMA",
            "url": "https://us.puma.com/en/us/collections/lifestyle/selena-gomez",
            "modifiers": {
              "animation": null,
              "isForwarding": false,
              "isForwardingActive": false,
              "thumbnailUrl": "https://d1fdloi71mui9q.cloudfront.net/s9Oyr4DERwmTeOYJu32d_ff96aa68c1a3be7b3d2b7bc4dedbc7e8c",
              "amazonAffiliate": null
            },
            "linkContext": null
          }
        ],
        "socialLinks": [
          {
            "type": "FACEBOOK",
            "url": "https://facebook.com/Selena"
          },
          {
            "type": "TWITTER",
            "url": "https://twitter.com/selenagomez"
          },
          {
            "type": "INSTAGRAM",
            "url": "https://instagram.com/selenagomez"
          },
          {
            "type": "TIKTOK",
            "url": "https://tiktok.com/@selenagomez"
          },
          {
            "type": "SPOTIFY",
            "url": "https://open.spotify.com/artist/0C8ZW7ezQVs4URX5aX7Kqx?si=vLUeKsFuTSKqHn7JJIr2Eg"
          },
          {
            "type": "YOUTUBE",
            "url": "https://youtube.com/selenagomez"
          },
          {
            "type": "APPLE_MUSIC",
            "url": "https://music.apple.com/us/artist/selena-gomez/280215834"
          }
        ],
        "theme": {
          "key": "custom",
          "luminance": "DARK",
          "background": {
            "imageUrl": "https://d1fdloi71mui9q.cloudfront.net/aTgNI8HXTCDmd8FIoHda_4dedc4ce5a7c6bc8c3745a0d976e86d5",
            "color": "#000000"
          },
          "buttonStyle": {
            "type": "FILL_ROUNDED",
            "backgroundStyle": {
              "color": "#FFFFFF"
            },
            "shadowStyle": {
              "color": "#000000"
            }
          },
          "typeface": {
            "color": "#FFFFFF",
            "family": "karla"
          }
        }
      },
      "isProfileVerified": true,
      "hasConsentedToView": true,
      "username": "selenagomez",
      "pageTitle": "@selenagomez",
      "description": null,
      "socialLinks": [
        {
          "type": "FACEBOOK",
          "url": "https://facebook.com/Selena"
        },
        {
          "type": "TWITTER",
          "url": "https://twitter.com/selenagomez"
        },
        {
          "type": "INSTAGRAM",
          "url": "https://instagram.com/selenagomez"
        },
        {
          "type": "TIKTOK",
          "url": "https://tiktok.com/@selenagomez"
        },
        {
          "type": "SPOTIFY",
          "url": "https://open.spotify.com/artist/0C8ZW7ezQVs4URX5aX7Kqx?si=vLUeKsFuTSKqHn7JJIr2Eg"
        },
        {
          "type": "YOUTUBE",
          "url": "https://youtube.com/selenagomez"
        },
        {
          "type": "APPLE_MUSIC",
          "url": "https://music.apple.com/us/artist/selena-gomez/280215834"
        }
      ],
      "integrations": [],
      "theme": {
        "key": "custom",
        "luminance": "DARK",
        "background": {
          "imageUrl": "https://d1fdloi71mui9q.cloudfront.net/aTgNI8HXTCDmd8FIoHda_4dedc4ce5a7c6bc8c3745a0d976e86d5",
          "color": "#000000"
        },
        "buttonStyle": {
          "type": "FILL_ROUNDED",
          "backgroundStyle": {
            "color": "#FFFFFF"
          },
          "shadowStyle": {
            "color": "#000000"
          }
        },
        "typeface": {
          "color": "#FFFFFF",
          "family": "karla"
        }
      },
      "metaTitle": "@selenagomez",
      "metaDescription": "Linktree. Make your link do more.",
      "profilePictureUrl": "https://d1fdloi71mui9q.cloudfront.net/tVx7C3BERISOZ1SPHvGj_1c5293ee1ee8cf9d9327be214431d95c0",
      "links": [
        {
          "id": "49461922",
          "animation": null,
          "title": "Selena x Votes",
          "thumbnail": "https://d1fdloi71mui9q.cloudfront.net/lfd5mvUmT7Soq0A6THBg_1t47kFqp6r9tE8KU",
          "url": "https://smarturl.it/SelenaxVotes",
          "amazonAffiliate": null,
          "type": "CLASSIC",
          "context": {}
        },
        {
          "id": "20230445",
          "animation": null,
          "title": "Rare Beauty",
          "thumbnail": "https://d1fdloi71mui9q.cloudfront.net/zJGjO0QSGnAjLqkwndlA_6da71ce36f2dba9365e8f23f972617bb",
          "url": "https://www.rarebeauty.com/",
          "amazonAffiliate": null,
          "type": "CLASSIC",
          "context": {}
        },
        {
          "id": "45925045",
          "animation": null,
          "title": "Listen to 'Lose You To Love Me' (Demo Version)",
          "thumbnail": "https://d1fdloi71mui9q.cloudfront.net/6jfKO1WxSkmznf4Xm426_kL4KZyX29WUSHpPA",
          "url": "https://smarturl.it/LoseYouToLoveMeDemo",
          "amazonAffiliate": null,
          "type": "CLASSIC",
          "context": {}
        },
        {
          "id": "39509398",
          "animation": null,
          "title": "Listen to 'Ice Cream' 🍦 SELPINK",
          "thumbnail": "https://d1fdloi71mui9q.cloudfront.net/tI4nSUCSfW6yNiezGcTc_rRJ3rYRCYR1Wx57z",
          "url": "https://smarturl.it/IceCreamSingle",
          "amazonAffiliate": null,
          "type": "CLASSIC",
          "context": {}
        },
        {
          "id": "41510699",
          "animation": null,
          "title": "Watch the 'Ice Cream' Official Video",
          "thumbnail": "https://d1fdloi71mui9q.cloudfront.net/CLQA637S7ON9vBiaZtLF_GudLst9YouUOMO5P",
          "url": "https://youtu.be/vRXZj0DzXIA",
          "amazonAffiliate": null,
          "type": "YOUTUBE_VIDEO",
          "context": {
            "embedOption": "EMBED_VIDEO",
            "subscribe": true,
            "autoplay": true,
            "mute": false,
            "videoId": "vRXZj0DzXIA"
          }
        },
        {
          "id": "41020736",
          "animation": null,
          "title": "Serendipity Ice Cream",
          "thumbnail": "https://d1fdloi71mui9q.cloudfront.net/eATXHQPSYGoAxd4GTLAf_AvVyOtQhL0kDoL9K",
          "url": "https://serendipitybrands.com/",
          "amazonAffiliate": null,
          "type": "CLASSIC",
          "context": {}
        },
        {
          "id": "37110319",
          "animation": null,
          "title": "Rare Impact Fund",
          "thumbnail": "https://d1fdloi71mui9q.cloudfront.net/v9tKDvLzRlSCiXSEpR1Z_404a58d6ef17c7411f53e58b13559f726",
          "url": "https://www.forbes.com/sites/jessicagold/2020/07/22/selena-gomezs-rare-beauty-pledges-to-raise-100m-for-mental-health/#15aeff2048f7",
          "amazonAffiliate": null,
          "type": "CLASSIC",
          "context": {}
        },
        {
          "id": "19332735",
          "animation": null,
          "title": "Shop My Official Store",
          "thumbnail": "https://d1fdloi71mui9q.cloudfront.net/bI6tWpncQ1eZ2gd2fpfv_1f9f4cf3c5da3b14b2b6d7b921441a4c",
          "url": "http://smarturl.it/SelenaStore",
          "amazonAffiliate": null,
          "type": "CLASSIC",
          "context": {}
        },
        {
          "id": "23802684",
          "animation": null,
          "title": "Listen to RARE (Deluxe) feat. ‘Boyfriend’",
          "thumbnail": "https://d1fdloi71mui9q.cloudfront.net/BrIodlWVQgiPkskixUGP_964e71fb80ac3e5bff83cfac79891cd52",
          "url": "https://smarturl.it/RareDeluxe",
          "amazonAffiliate": null,
          "type": "CLASSIC",
          "context": {}
        },
        {
          "id": "33195844",
          "animation": null,
          "title": "Donate to the Black Equality Fund",
          "thumbnail": "https://d1fdloi71mui9q.cloudfront.net/bzP2WQFwSVepmpVFrHyM_dfc123f2c368d19fbdebcf92f9c73d58",
          "url": "https://donorbox.org/black-equity-fund",
          "amazonAffiliate": null,
          "type": "CLASSIC",
          "context": {}
        },
        {
          "id": "23802673",
          "animation": null,
          "title": "Donate to the PLUS1 COVID-19 Relief Fund",
          "thumbnail": "https://d1fdloi71mui9q.cloudfront.net/HSiVG0GISy6KYRN8VUnj_3dc928efec960c06e485adf2d68272057",
          "url": "https://smarturl.it/SelenaPLUS1",
          "amazonAffiliate": null,
          "type": "CLASSIC",
          "context": {}
        },
        {
          "id": "19380439",
          "animation": null,
          "title": "Shop SG x PUMA",
          "thumbnail": "https://d1fdloi71mui9q.cloudfront.net/s9Oyr4DERwmTeOYJu32d_ff96aa68c1a3be7b3d2b7bc4dedbc7e8c",
          "url": "https://us.puma.com/en/us/collections/lifestyle/selena-gomez",
          "amazonAffiliate": null,
          "type": "CLASSIC",
          "context": {}
        }
      ],
      "leapLink": null,
      "isOwner": false,
      "isLogoVisible": false
    },
    "__N_SSP": true
  },
  "page": "/[profile]",
  "query": {
    "profile": "selenagomez"
  },
  "buildId": "AgYe6mSts23jtfkrdFl99",
  "runtimeConfig": {
    "IDENTITY_API_ENDPOINT": "https://i.linktr.ee/api/xnby97bf32bv",
    "ANALYTICS_API_ENDPOINT": "https://analytics.linktr.ee",
    "STAGE": "production",
    "WEB_VITALS": "false",
    "DD_CLIENT_TOKEN": "pub42f389bd36fc9203ee133e9277bf57f4"
  },
  "isFallback": false,
  "gssp": true,
  "customServer": true
}
</script>

