---
title: KaceO Links
layout: base

cta: "/home/"

common_css:
  - "/assets/littlelinks/css/normalize.css"
  - "/assets/littlelinks/css/skeleton-auto.css"
  - "/assets/littlelinks/css/brands.css"

#Themes:
# Auto:   css/skeleton-auto.css
# Light:  css/skeleton-light.css
# Dark:   css/skeleton-dark.css

---
.container
  .row
    .column(style="margin-top: 10%")

      //-- Your Image Here --
      a(href=cta)
        img.avatar(src=avatar alt="")

      //-- Title --
      h1(role="heading")= shortbio

      //-- Short Bio --
      p= longbio

      each link in allmylinks
        a.button(
          target="_blank"
          rel="noopener"
          role="button"
          href=link.url
          class='button-' + link.type
        )
          img.icon(alt=""
            src='assets/littlelinks/images/icons/' + link.icon
            )
          = link.title
        br

      br
      //--
        Footer:
        This includes a link to privacy.html page which can be setup for your Privacy Policy.
        This also includes a link to the LittleLink repository to make forking LittleLink easier.
        You can edit or remove anything here to make your own footer.

      p
        a(href="privacy.html") Privacy Policy
        | &nbsp;|&nbsp;
        | Build your own by forking
        |
        a(href="https://littlelink.io" target="_blank" rel="noopener" role="button") LittleLink
        | .

