div
  h2 Quick Links (PUG)
  ul
    li
      a(href="#{site.url}/") Home
    li
      a(href="#{site.url}/about/") About
    li
      a(href="#{site.url}/blog/") Blog
    li
      a(href="#{site.url}/work/") Work
    li
      a(href="#{site.url}/404.html") Error
    li
      a(href="#{site.url}/sitemap.xml") Site Map
    li
      a(href="#{site.url}/feed.xml") RSS feed
hr
